<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modificar</title>
</head>
<body>
    <header th:replace="layout/plantilla :: header"></header>
    <h2>[[#{persona.datospersona}]]</h2>
    <a th:href="@{/}">[[#{accion.regresar}]]</a>
    <br><br>
    <form th:action="@{/guardar}" method="post" th:object="${persona}">
        <input type="hidden" th:field="*{idPersona}">
        <label>[[#{persona.nombre}]]:</label>
        <input type="text" th:field="*{nombre}">
        <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error Nombre</span>
        <br><br>
        <label>[[#{persona.apellido}]]:</label>
        <input type="text" th:field="*{apellido}">
        <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Error Apellido</span>
        <br><br>
        <label>[[#{persona.email}]]:</label>
        <input type="text" th:field="*{email}">
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error Email</span>
        <br><br>
        <label>[[#{persona.telefono}]]:</label>
        <input type="tel" th:field="*{telefono}">
        <br><br>
        <button type="submit">[[#{accion.guardar}]]</button>
    </form>

    <footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>